@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Secret - Acesso Especial";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo!!!!</p>

@{ 
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Voce só verá isso se tiver permissão de adicionar!</p>
    }
}

<div>

    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context, "Produtos", "Adicionar")
</div>

<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "Ler"))">Excluir</a>

</div>
